# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
venv/
ENV/

# Unit test / coverage reports
.coverage
*.py,cover
.hypothesis/
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
